.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #000000; /* Fundo preto */
  font-family: Arial, sans-serif; /* Fonte padrão */
}

.header {
  background-color: #003366;
  color: #FFD700;
  padding: 26px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 80px;
}

.navButtons {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex: 1;
}

.navButtons li {
  margin: 0 15px;
}

.navButtons a {
  color: #FFD700;
  text-decoration: none;
  font-size: 18px;
}

.navButtons a:hover {
  text-decoration: underline;
}

.main {
  padding: 110px 20px 60px;
  text-align: center;
  color: #FFD700;
}

.main h1 {
  margin-bottom: 20px; /* Espaçamento entre o título e o conteúdo abaixo */
}

.contentContainer {
  display: flex;
  justify-content: space-evenly; /* Distribui o espaço igualmente entre a lista e a imagem */
  align-items: center; /* Alinha verticalmente a lista e a imagem */
  width: 100%; /* Garante que o container flex ocupe toda a largura disponível */
  margin-top: 20px; /* Adiciona espaço acima do container */
}

.taskListContainer {
  display: flex;
  flex-direction: column;
  max-width: 50%; /* Limita a largura da lista de tarefas */
  text-align: left; /* Alinha o texto à esquerda */
}

.taskList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.taskItem {
  margin: 10px 0;
  padding: 10px;
  display: flex;
  align-items: center; /* Alinha o conteúdo das tarefas verticalmente */
}

.input {
  padding: 5px;
  margin-right: 10px;
}

.button {
  background-color: #FFD700;
  color: #000;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #FFC107;
}

.footer {
  background-color: #003366;
  color: #FFD700;
  padding: 42px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

.imageContainer {
  display: flex;
  justify-content: center; /* Centraliza a imagem horizontalmente */
  align-items: center; /* Alinha a imagem verticalmente */
  height: 300px; /* Define a altura da imagem */
  width: 300px; /* Define a largura da imagem */
}
